* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body,
html {
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header_container {
  max-width: 1199px;
  margin: auto;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header_content li {
  list-style: none;
  text-transform: capitalize;
  padding: 55px 15px;
}

.header_content li:hover a {
  color: #f55f8d;
}

.header_content span {
  display: inline-block;
}

.header_content li:hover span {
  /* animation: updown .3s forwards; */
  animation-name: updown;
  animation-duration: 0.5s;
  /* animation-timing-function: forwards; */
}

@keyframes updown {
  49% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(-100%);
    opacity: 0;
  }

  51% {
    opacity: 1;
  }
}

.header_content a {
  text-decoration: none;
  transition: 0.5s;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  /* padding: 30px; */
}

nav ul li a {
  margin-right: 15px;
  color: #070120;

  font-weight: 500;
  transition: all 0.5s;
}

nav ul li a i {
  font-size: 10px;
}

.btn_gradient {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #f55f8d 0%,
    #f8ae56 55%,
    #f55f8d 100%
  );
  background-size: 200%;
  /* background-position: left; */
  text-transform: uppercase;
  border: 0;
  transition: 0.5s;
}

.btn_gradient:hover {
  background-position: right center;
  /* background-image: linear-gradient(to right,#f8ae56 0%,#f55f8d 50%,#f8ae56 100%); */
}

/* Header */
/* Carousel */
.carousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(./img/pic2.png);
  background-position: top;
  background-size: 100%;
}

.carousel_comtainer {
  max-width: 1199px;
  margin: auto;
}

.carousel_content {
  display: flex;
  align-items: center;
}

.carousel_left {
  width: 60%;
}

.carousel_right {
  width: 40%;
}

.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.carousel_article p {
  font-size: 18px;
  margin-bottom: 15px;
}

.carousel_article ul {
  margin-bottom: 20px;
}

.carousel_article li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
}

.carousel_article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
}

.carousel_img {
  width: 570px;
  margin-left: 50px;
}

/* .animate__fadeInUp{
    animation-name: fadeInUp;
} */
.carousel_img img {
  max-width: 100%;
  display: block;
}

/* Carousel */
/* Service */
.service {
  background-image: url(./img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 115px;
}

.service_container {
  max-width: 1199px;
  margin: 0 auto;
}

.service_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.service_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.services_content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.services_item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px 45px;
  transform: translateY(0);
  transition: 0.5s;
}

.services_item:hover {
  transform: translateY(-20px);
}

.services_item img {
  width: 215px;
}

.services_item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}

/* Service */
/* About */
.about {
  background-image: url(./img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
  padding-top: 115px;
}

.about_container {
  max-width: 1199px;
  margin: auto;
}

.about_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.about_left {
  width: 60%;
  position: absolute;
  left: -17%;
}

.about_left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.about_right {
  width: 50%;
}

.about_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.about_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.about_right p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.about_right ul {
  margin-bottom: 30px;
}

.about_right ul li i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 1.6;
}

/* About */
/* Number */
.number {
  background-image: url(./img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.number_container {
  max-width: 1199px;
  margin: auto;
}

.number_content {
  display: flex;
  justify-content: space-around;
}

.number_item {
  width: 25%;
}

.number_item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}

.number p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}

.number p:last-of-type {
  color: #262626;
  font-size: 18px;
}

/* Number */
/* Features */
.feature {
  background-image: url(./img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 115px;
}

.feature_container {
  max-width: 1199px;
  margin: auto;
}

.features_content {
  display: flex;
}

.features_left {
  width: 50%;
}

.features_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.features_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.wow {
}

.features_group {
}

.features_item {
  padding: 0 50px 30px 0;
}

.features_item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}

.features_item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}

.features_item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.features_bg {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.features_bg::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.features_bg:hover::after {
  opacity: 1;
}

.features_bg:hover i {
  color: white;
}

.features_bg:hover div {
  color: white;
}

.features_right {
  width: 50%;
}

.features_banner {
  margin-right: -80px;
}

.features_banner img {
  max-width: 100%;
  animation: move2 5s infinite;
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

/* Features */
/* Portfolio */

.portfolio {
  background-image: url(./img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 115px;
}

.portfolio_container {
  max-width: 1199px;
  margin: auto;
}

.portfolio_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.portfolio_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.portfolio_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio_item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio_item img {
  width: 100%;
  height: 100%;
}
.portfolio_item1 {
  grid-column: 1 / span 2;
}
.portfolio_item5 {
  grid-column: 1 / span 2;
}
.portfolio_item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.portfolio_item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.portfolio_item:hover .portfolio_overlay {
  opacity: 1;
}
.portfolio_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.portfolio_item:hover .portfolio_icon {
  transform: translate(0);
}

.portfolio_icon a {
  cursor: pointer;
}

.portfolio_text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}

.portfolio_item:hover .portfolio_text {
  transform: translateY(0);
}

.portfolio_text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}

.portfolio_text p {
  color: #fff;
  opacity: 0.7;
}

/* Portfolio */
/* Plan */
.plan {
  background-image: url(./img/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 115px;
}
.plan_container {
  max-width: 1199px;
  margin: auto;
}
.plan_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.plan_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.plan_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}
.plan_item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.5s;
}
.plan_item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}
.plan_item img {
  width: 125px;
}
.plan_item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan_item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan_item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan_item li {
  padding: 5px 0;
}
.plan_item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}

/* Plan */
/* Testimonial */
.testimonial {
  text-align: center;
  background-image: url(./img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 115px;
}
.testimonial_container {
  max-width: 1199px;
  margin: auto;
}
.testimonial_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.testimonial h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.testimonial_content {
  min-height: 300px;
}
.testimonial_thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial_thumbs::after,
.testimonial_thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}
.testimonial_thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial_thumbs::after {
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial_pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}
.swiper-slide-thumb-active .testimonial_pic .shape-bx {
  opacity: 1;
}
.testimonial_pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(./img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.testimonial_pic::after,
.testimonial_pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.testimonial_pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}

.testimonial_pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}
.swiper-slide-thumb-active .testimonial_pic::after,
.swiper-slide-thumb-active .testimonial_pic::before {
  opacity: 1;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}

.swiper-pagination-bullet-active {
  background: #f55f8d;
}
.testimonial_comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}

.testimonial_comment .swiper-wrapper {
  padding-bottom: 20px;
}

.testimonial_thumbs .testimonial_pic {
  padding: 30px 0 0;
  transition: all 0.5s;
  padding: 0 0 40px;
}

.testimonial_text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}

.testimonial_pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial_text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}

.testimonial_text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}

.testimonial_name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial_position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}

/* Testimonial */
/* Blog */
.blog {
  background-image: url(./img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 115px;
}
.blog_container {
  max-width: 1199px;
  margin: auto;
}
.blog_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.blog_title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.blog_item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog_header {
  position: relative;
}

.blog_header img {
  width: 100%;
  border-radius: 8px;
}

.blog_header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog_body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog_body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog_footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog_footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}

.blog_footer p:first-of-type {
  margin-right: 20px;
}

.blog_footer p:first-of-type span {
  color: #f55f8d;
}

/* Blog */
/* Footer */

footer {
  background-image: url(./img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(./img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer_container {
  max-width: 1199px;
  margin: auto;
}
.footer_top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(./img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}

.footer_form,
.footer_text {
  width: 50%;
}

.footer_text h2 {
  font-size: 28px;
  color: #262626;
}

.footer_form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.footer_form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}

.footer_form input:focus,
.footer_form input:hover {
  border-color: #f55f8d;
}

.footer_form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}

.footer_form button:hover {
  background-position: right center;
}

.footer_form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
  display: inline-block;
}

.footer_bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer_item {
  width: 25%;
}

.footer_item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer_item h3::after,
.footer_item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer_item h3::before {
  width: 15px;
}

.footer_item h3::after {
  width: 45px;
  left: 20px;
}

.footer_contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.footer_contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}

.footer_item li {
  padding: 0.5rem 0;
}

.footer_item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
  text-decoration: none;
}

.footer_item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer_item a:hover {
  color: #fff;
}

.footer_copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.footer_content {
  display: flex;
  justify-content: space-between;
}

.footer_left span {
  color: #f55f8d;
}

.footer_copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}

.footer_copyright a:hover {
  background: #f55f8d;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/* Footer */
